<h4 class="mb-3">List of movies</h4>
{% for movie in listMovies|slice(1) %}
    <div class="card mb-3" style="max-width: 800px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="img-fluid" src="{{ movie.thumbnail }}"
                     alt="Card image cap">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>  <p class="card-text">({{ movie.voteCount }} votes)</p>
                    {% include 'include/star.twig' with {'movie': movie} %}
                    <p class="card-text"><small class="text-muted">{{ movie.releaseDate|date("Y") }}-{{ movie.productionName }}</small></p>
                    <p class="card-text">{{ movie.description|length > 50 ? movie.description|slice(0, 200) ~ '...' : movie.description  }}</p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-movie-{{ movie.id }}">
                        Lire le detail
                    </button>
                </div>
            </div>
        </div>

        {# Modal for this movie shown when you click on the button #}
        <div class="modal fade modal-movie" id="modal-movie-{{ movie.id }}" tabindex="-1" aria-labelledby="informationTitle" aria-hidden="true" data-id="{{ movie.id }}">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="informationTitle">{{ movie.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-id="{{ movie.id }}"></button>
                    </div>
                    <div class="modal-body p-4">
                        <div class="row col-xs-2">
                            <div class="row g-0 mb-4 frame-trailer-detail">
                                <div class="ratio ratio-16x9">
                                    <iframe src="{{ movie.urlVideo }}?rel=0" title="YouTube video" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="row d-inline">
                                {#                                                    <span class="text-secondary">Film : </span><b class="card-title d-inline">{{ movie.title }} Bande annonce {% if topMovie.originalLanguage =="fr" %}VF{% else %}VOSTFR{% endif %}</b>#}
                                <span class="text-secondary">Film : </span><b class="card-title d-inline">{{ movie.title }} - Trailer</b>
                                {% include 'include/star.twig' with {'movie': movie} %}
                                <span class="text-light bg-dark">{{ (movie.voteAverage / 2)|number_format(2) }}</span><span class="d-inline fs-6"> pour {{ movie.voteCount }} utilisateurs</span>
                            </div>
                            <p class="card-text">
                                <small class="text-muted"><small class="text-muted">{{ movie.releaseDate|date("Y") }}-{{ movie.productionName }}</small></small>
                            </p>
                            <p class="card-text mt-2">{{ movie.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}